body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: olivedrab;

}
/*div{
    font-family: "museo-sans";
}*/
.topRightMenuItem{
    float:right;
    margin-left: 10px;
    margin-top: 33px;
}

.operationItem{
    margin-top: 50px;
    margin-left: 10px;
    display: inline-block;
}

.imageButton{
    background-repeat:no-repeat;
    background-color:transparent;
    border:none;
    cursor:pointer;
    overflow:hidden;
}